{% extends 'base.html' %}

{% block title %}
Password Reset Page
{% endblock %}


{% block content %}
<div class="mx-auto" style="width: 400px; padding: 32px 0px">
    <div class="content-section">
        <form class="" action="" method="post" id="post-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class=" mb-4">Reset Your Password</legend>
            </fieldset>

            {% include 'pwd.html' %}


            <div class="form-group" style="justify-content: center; display: grid; margin: 0 20px 0 0;">
                <small class="text-danger">
                    Note: Select exactly 3 images
                </small>
            </div>

            <br>

            <div class="form-group" style="justify-content: center; display: grid; margin: 0 30px 0 0;">
                <button type="submit" class="btn btn-outline-info">Reset</button>
            </div>

        </form>
    </div>
</div>

<script>
    var gpwd_set = new Set();
    function onSelect(r, c) {
        var res = r.toString() + c.toString();
        var url = document.getElementById(res).src;
        var filename = url.split('\\').pop().split('/').pop();
        var ans=filename.slice(0,filename.length-4);
        if (gpwd_set.has(ans)) {
            console.log('true');
            gpwd_set.delete(ans);
        } else {
            gpwd_set.add(ans);
            document.getElementById(res).style.border = "2px solid red";
        }

        console.log(gpwd_set);
    }
    function onSelect(r, c) {
        var res = r.toString() + c.toString();
        var url = document.getElementById(res).src;
        var filename = url.split('\\').pop().split('/').pop();
        var ans=filename.slice(0,filename.length-4);
        if (gpwd_set.has(ans)) {
            console.log('true');
            gpwd_set.delete(ans);
            document.getElementById(res).style.border = null;
        } else {
            gpwd_set.add(ans);
            document.getElementById(res).style.border = "2px solid red";
        }

        console.log(gpwd_set);
    }

    function post(path, params, method = 'post') {

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        const form = document.getElementById('post-form');
        form.method = method;
        form.action = path;

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }


    // Submit post on submit
    var form = document.getElementById('post-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        console.log("form submitted!");
        post('', {
            password: Array.from(gpwd_set),
        })
    });
</script>
{% endblock %}